<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">   
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>    
    <h1>阿肥房間電燈</h1>
    
    <form action="/submit">
        <!-- <input name="Name" type="text" value="Bill"><br>          -->
        <!-- <input name="Age" type="text" value="26"><br>   -->
        <button style="font-size: 30pt; width:200px;height:200px;">開關</button>
    </form>
</body>
</html>